body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fb96d1;
}

.song-container {
    text-align: center;
    padding: 20px;
    background-color: rgb(249, 151, 233);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
    
}

.lyrics {
    margin-top: 20px;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    
}

p {
    color: #ffffff;
}

button {
    background-color: rgb(214, 93, 198);
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
}


